<%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:class=>"form-signin"}) do |f| %>
  <%= devise_error_messages! %>
  <h2 class="form-signin-heading">Please sign in</h2>
 
    <%= f.label :email%><br />
    <%= f.email_field :email, autofocus: true,:class=>"form-control" %>
 


    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off",:class=>"form-control" %>


  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me,:class=>"checkbox" %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in",:class=>"btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

