/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#review_comment_box{
	
}
#review_comment_box label{
 color:green;
}

#review_comment_box span{
 color:#380000;
 font-style: italic;
 font-weight: bolder;
}

#company-name {
    width: 355px;
    height: 75px;
    text-indent: -999em;
    background: transparent url("new_unm_logo.gif") no-repeat scroll 0% 0%;
    margin: 0px 0px 10px 10px;
}
