<% if user_role == 'Director' %>
 <%= form_for(:report, :url => '/search_reports', :method => 'get', :remote => true,:html => {:class=>"form-horizontal table-bordered"}) do |f| %>
<div class="form-group">
      <span class="col-md-1 control-label"></span>
      <div class="col-md-6">
        <div class="form-group row">
          
     <label class="col-md-2 control-label">Courses</label>
    <div class="col-md-4">
          <%= collection_select(:report, :course_id, Course.where('department_id=?',current_user.department_id), :id, :name, {:prompt => 'Select Department First'},:class=>'form-control') %>
    </div>
    <label class="col-md-1 control-label">Year</label>
    <div class="col-md-3">
        <select name="report[year]">
  <option value="2015" selected="selected">2015</option>
  <option value="2016">2016</option>
 <option value="2017">2017</option>
 <option value="2018">2018</option>
 <option value="2019">2019</option>
 <option value="2020">2020</option>
 <option value="2021">2021</option>
</select>
<input type="hidden" name ="report[role]" value="<%= user_role %>">
    </div>
        </div>    
      </div>
      <span class="col-md-1 control-label"><%= f.submit 'Search', :class => 'btn btn-primary btn-small' %></span>
  </div>

  <% end %>

<% else %>
<%= form_for(:report, :url => '/search_reports', :method => 'get', :remote => true,:html => {:class=>"form-horizontal table-bordered"}) do |f| %>
<div class="form-group">
      <span class="col-md-1 control-label"></span>
      <div class="col-md-8">
        <div class="form-group row">
          <label class="col-md-1 control-label">Colleges</label>
          <div class="col-md-2">
            <%= collection_select(:report, :college_id, College.all, :id, :name, {:prompt => 'Select'},:class=>'form-control') %>
          </div>
    <label class="col-md-2 control-label">Departments</label>
    <div class="col-md-3">
      
        <%= collection_select(:report, :department_id, [], :id, :name, {:prompt => 'Please Select College First'},:class=>'form-control') %>
     
    </div>
     <label class="col-md-1 control-label">Courses</label>
    <div class="col-md-3">
          <%= collection_select(:report, :course_id, [], :id, :name, {:prompt => 'Select Department First'},:class=>'form-control') %>
    </div>
    <label class="col-md-1 control-label">Year</label>
    <div class="col-md-3">
        <select name="report[year]">
  <option value="2015" selected="selected">2015</option>
  <option value="2016">2016</option>
 <option value="2017">2017</option>
 <option value="2018">2018</option>
 <option value="2019">2019</option>
 <option value="2020">2020</option>
 <option value="2021">2021</option>
</select>
<input type="hidden" name ="report[role]" value="<%= user_role %>">
    </div>
        </div>    
      </div>
      <span class="col-md-1 control-label"><%= f.submit 'Search', :class => 'btn btn-primary btn-small' %></span>
  </div>

  <% end %>
  <% end %>
  <script>
  $( "#report_college_id" ).change(function() {
var college = $(this).val();
$.ajax({
        url: '/get_departments_list',
        data: { college_id: college}
    }); 
});

$( "#report_department_id" ).change(function() {
var department = $(this).val();
$.ajax({
        url: '/get_courses_list',
        data: { department_id: department}
    }); 
});

</script>