<br><%= nested_form_for(@report, :html => {:class=>"form-horizontal table-bordered"}) do |f| %><br>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
      <span class="col-md-2 control-label">Metadata</span>
      <div class="col-md-8">
        <div class="form-group row">
          <label class="col-md-1 control-label">Colleges</label>
          <div class="col-md-2">
            <%= f.collection_select :college_id, College.all, :id, :name, {:prompt => 'Select', :selected => @report.college_id},:class=>'form-control' %>
          </div>
    <label class="col-md-2 control-label">Departments</label>
    <div class="col-md-3">
      <% if action_name == 'edit' %>
        <%= f.collection_select :department_id, @departments, :id, :name, {:prompt => 'Select College First', :selected => @report.department_id},:class=>'form-control' %>
      <% else %>
        <%= f.collection_select :department_id, [], :id, :name, {:prompt => 'Please Select College First', :selected => @report.department_id},:class=>'form-control' %>
      <% end %>
    </div>
     <label class="col-md-1 control-label">Courses</label>
    <div class="col-md-3">
      <% if action_name == 'edit' %>
        <% if !@report.course_id.nil? %>
          <%= f.collection_select :course_id, @courses, :id, :name, {:selected => @report.course_id},:class=>'form-control' %>
        <%else %>
          <%= f.collection_select :course_id, [], :id, :name, {:prompt => 'Select Department First'},:class=>'form-control' %>
        <%end %>
      <% else %>
        <%= f.collection_select :course_id, [], :id, :name, {:prompt => 'Select Department First'},:class=>'form-control' %>
      <% end %>
    </div>
          </div>
      </div>
  </div>

  <div class="form-group">
    <span class="col-md-2 control-label">Assessment Period</span>
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Start</label>
        <div class="col-md-3">
          <%= f.text_field :assessment_start_period, :id => 'start_date',:class=>'form-control' %>  
        </div>
        <label class="col-md-2 control-label">End</label>
        <div class="col-md-3">
          <%= f.text_field :end_period, :id => 'end_date',:class=>'form-control' %> 
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span class="col-md-2 control-label">State SLOs/AUOs assessed in 1/2/3 yrs</span>
    <div class="col-md-8">
      <div class="form-group row">
        <div class="col-md-8">
          <%= f.text_area :state_all_slos,:class=>'form-control' %>  
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span class="col-md-2 control-label">Actions/Improvements on previou report</span>
    <div class="col-md-8">
      <div class="form-group row">
        <div class="col-md-8">
          <%= f.text_area :improvements_on_report_period,:class=>'form-control' %>  
        </div>
      </div>
    </div>
  </div>

   <div class="form-group">
    <span class="col-md-2 control-label">Evidence Document</span>
    <div class="col-md-8">
      <div class="form-group row">
        <div class="col-md-4">
          <%= f.file_field :avatar,:class=>'form-control' %>  
        </div>
      </div>
    </div>
   </div>

  <%= f.fields_for :goals do |goal| %>
  <div class="form-group">
    <span class="col-md-2 control-label">UNM</span>
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Learning Goals</label>
        <div class="col-md-3">
          <%#= goal.text_field :learning_goals,:class=>'form-control' %> 
          <%= goal.select(:learning_goals, [['Knowledge', 'Knowledge'],
                                  ['Skills', 'Skills'],
                                  ['Responsibility', 'Responsibility']
                                 ], {:prompt => 'please select'}) %> 
        </div>
        <label class="col-md-2 control-label">Strategic Plan</label>
        <div class="col-md-3">
          <%#= goal.text_field :strategic_plan,:class=>'form-control' %> 
          <%= goal.select(:strategic_plan, [['Students Retention', 'Students Retention'],
                                  ['Persistence', 'Persistence'],
                                  ['Graduation', 'Graduation']
                                 ],{:prompt => 'please select'}) %> 
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span class="col-md-2 control-label">Assessment</span>
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Measures</label>
        <div class="col-md-3">
          <%= goal.text_field :measure_type,:class=>'form-control' %>  
        </div>
        <label class="col-md-2 control-label">Benchmark</label>
        <div class="col-md-3">
          <%= goal.text_field :performance_benchmark,:class=>'form-control' %> 
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span class="col-md-2 control-label">Data</span>
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Analysis</label>
        <div class="col-md-3">
          <%= goal.text_field :data_analysis,:class=>'form-control' %>  
        </div>
        <label class="col-md-2 control-label">Results</label>
        <div class="col-md-3">
          <%= goal.text_field :data_results,:class=>'form-control' %> 
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span class="col-md-2 control-label">Learning Outcome</span>
    <div class="col-md-8">
      <div class="form-group row">
        <div class="col-md-8">
          <%= goal.text_area :outcome,:class=>'form-control' %>  
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span class="col-md-2 control-label">Recommendations</span>
    <div class="col-md-8">
      <div class="form-group row">
        <div class="col-md-8">
          <%= goal.text_area :recommendations,:class=>'form-control' %>  
        </div>
      </div>
    </div>
  </div>
 
  <div class="form-group">
    <span class="col-md-2 control-label">Meeting Details</span>
    <div class="col-md-8">
      <div class="form-group row">
        <div class="col-md-8">
          <%= goal.text_area :met_details,:class=>'form-control' %>  
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <span class="col-md-2 control-label"></span>
    <div class="col-md-8">
      <div class="form-group row">
      <div class="col-md-8">
       <%= goal.link_to_remove "Remove this goal", :class => 'btn btn-danger btn-sm' %>
       <% end %><br>
       <br><br><%= f.link_to_add "Add a goal", :goals, :class => 'btn btn-primary btn-sm' %>
       </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span class="col-md-2 control-label"></span>
    <div class="col-md-8">
      <div class="form-group row">
        <div class="col-md-8">
          <%= f.submit 'Save', :class=>'btn btn-primary' %>  
          <%= link_to 'Submit', submit_report_report_path(:id=>@report.id), data: { confirm: 'Are you sure want to submit to director?' }, :class=>'btn btn-primary' if @report.status=='Completed' && user_role == 'Advisor' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $("#start_date").datepicker({
    dateFormat: 'dd-mm-yy'
  });
  $("#end_date").datepicker({
    dateFormat: 'dd-mm-yy'
  });

$( "#report_college_id" ).change(function() {
var college = $(this).val();
$.ajax({
        url: '/get_departments_list',
        data: { college_id: college}
    }); 
});

$( "#report_department_id" ).change(function() {
var department = $(this).val();
$.ajax({
        url: '/get_courses_list',
        data: { department_id: department}
    }); 
});

$( document ).ready(function() {
    $(".footer").hide();
});

</script>

