
<% if reports.blank? %>
 <%if user_role =="Advisor"%>
  <center><h4>You don't have any Reports.</h4></center>
 <% elsif user_role =="Director" %>
  <center><h4>You don't have any Reports.</h4></center>
 <%else %>
  <center><h4>No reports were created in system.</h4></center>
 <%end%>
 
<% else %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <% if ['Director','Admin'].include?(user_role) %>
        <th>User</th>
      <%else%>
        <th>College</th>
        <th>Department</th>
      <%end%>
      <th>Course</th>
      <th>Start period</th>
      <th>End period</th>
      <th>Status</th>
      <% if user_role == 'Admin' %>
       <th>Commented By</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% reports.each do |report| %>
      <tr>
        
        <% if ['Director','Admin'].include?(user_role) %>
          <td><%= User.where('id=?',report.user_id).first.email %></td>
        <% else %>
          <td><%= report.college_id.present? ? report.college.try(:name) : '--' %></td>
          <td><%= report.department_id.present? ? report.department.try(:name) : '--' %></td>
        <% end %>
        <td><%= report.course_id.present? ? report.course.try(:name) : '--' %></td>
        <td><%= report.assessment_start_period.strftime("%d-%B-%Y") unless report.assessment_start_period.blank?  %></td>
        <td><%= report.end_period.strftime("%d-%B-%Y") unless report.end_period.blank? %></td>
        <td><%= report.status %></td>
         <% if user_role == 'Admin' %>
         <td>
         <% user = User.where('department_id =? AND college_id=?', report.department_id,report.college_id).first %>
         <%= user.present? ? user.try(:email) : 'Not yet commented' %></td>
        <% end %>
        <td><%= link_to 'View', report, :class=>'btn btn-primary btn-xs' %></td>
        <% if report.status != 'Submitted' && user_role == 'Advisor'%>
          <td><%= link_to 'Edit', edit_report_path(report), :class=>'btn btn-primary btn-xs' %></td>
        <% end %>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger btn-xs' if report.status != 'Submitted' && user_role == 'Advisor'%></td>
        <% if report.status == 'Completed' && user_role == 'Advisor'%>
          <td>
            <%= link_to 'Submit', submit_report_report_path(:id=>report.id), data: { confirm: 'Are you sure want to submit to director?' }, :class=>'btn btn-primary btn-xs' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<br><br>
<br>
<% end %>
