
$('#report_department_id').html("<%= escape_javascript options_from_collection_for_select(@departments, :id, :name) %>");
$('#report_course_id').html("<%= escape_javascript options_from_collection_for_select(@courses, :id, :name) %>");
