<br>
<%= render :partial => 'filter' %>

<p id="notice"><%= notice %></p>

<%= link_to 'Create New Report', new_report_path, :class=>'btn btn-primary' if user_role == 'Advisor'%><br><br>
<div id="report_list">
  <%= render :partial => 'reports', :locals => {:reports => @reports } %>
</div>

