
     <% if user_role == 'Director' %>
     <%= form_for(@report, :url => '/submit_review', :method => 'post', :remote => true,:html => {:class=>"form-horizontal table-bordered"}) do |f| %>
<div class="form-group">
      <span class="col-md-1 control-label">Review</span>
      <div class="col-md-8">
        <div class="form-group row">
          <label class="col-md-2 control-label">Comments</label>
          <div class="col-md-4">
            <%= f.text_area :comments,:class=>'form-control' %>  
          </div>
          <% if @report.end_period < Time.now %>
           <label class="col-md-1 control-label">Score</label>
          <div class="col-md-2">
            <%= f.text_field :score,:class=>'form-control' %>  
          </div>
          <% end %>
          <input type="hidden" value=<%=@report.id%> name="id">
          <div class="col-md-3">
            <%= f.submit 'Submit review', :class=>'btn btn-primary ' %>  
          </div> 
      </div>
      </div>
      </div>
      <% end %>    
     <% else %>
     <% if @report.status == 'Submitted' || @report.status == 'Completed'  %>
       <div class="form-group" id="review_comment_box">
      <span class="col-md-1 control-label">Review</span>
      <div class="col-md-8">
        <div class="form-group row">
          <label class="col-md-2 control-label">Comments</label>
          <div class="col-md-4">
            <%= @report.comments %>  
          </div>
           <% if user_role != 'Advisor' %>
           <label class="col-md-1 control-label">Score</label>
          <div class="col-md-2">
            <%= @report.score %>  
          </div>
         <% end %>
      </div>
      </div>
      </div>
      <% end %>
     <% end %><br><br><br> 
     <div class="form-group">  
      <div class="col-md-8">
        <div class="form-group row">
          <label class="col-md-1 control-label">College</label>
          <div class="col-md-2">
            <%= @report.college_id ? @report.college.try(:name) : '---'%>
          </div>
    <label class="col-md-2 control-label">Department</label>
    <div class="col-md-3">
     <%= @report.department_id ? @report.department.try(:name) : '---'%>
    </div>
     <label class="col-md-1 control-label">Course</label>
    <div class="col-md-3">
      <%= @report.course_id ? @report.course.try(:name) : '---'%>
    </div>
          </div>
      </div>
  </div>

  <div class="form-group">
    
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Start</label>
        <div class="col-md-3">
          <%= @report.assessment_start_period.strftime("%d-%B-%Y") unless @report.assessment_start_period.blank? %>  
        </div>
        <label class="col-md-2 control-label">End</label>
        <div class="col-md-3">
          <%= @report.end_period.strftime("%d-%B-%Y") unless @report.end_period.blank? %> 
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Uploaded Evidence Info</label>
        <div class="col-md-3">
          <%= link_to "Download", @report.avatar.url(:original, false) unless @report.avatar.blank? %> 
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Status</label>
        <div class="col-md-8" style="font-weight:bolder;color:green">
          <%= @report.status %>  
        </div>
      </div>
    </div>
  </div>
 <div class="form-group">
    <div class="col-md-8">
      <div class="form-group row">
  <% if @report.status == 'Completed' && user_role=='Advisor' %>
         
            <%= link_to 'Submit', submit_report_report_path(:id=>@report.id), data: { confirm: 'Are you sure want to submit to director?' }, :class=>'btn btn-primary btn-xs' %>
          
        <% end %>
     </div>
      </div>
    </div>

    <% if @report.goals.present? %><br>
   
    <% @goals = @report.goals %>

    <table class="table table-stripped">
    <tr>
    <th>Outcome</th>
    <th>Learning goals</th>
    <th>Strategic plan</th>
    <th>Measures</th>
    <th>Performance Benchmark</th>
    <th>Data Results</th>
    <th>Data Analysis</th>
    <th>Recommendations</th>
    </tr>
    <% @goals.each do |g| %>
      <tr>
      <td><%= g.outcome %></td>
      <td><%= g.learning_goals %></td>
      <td><%= g.strategic_plan %></td>
      <td><%= g.measure_type %></td>
      <td><%= g.performance_benchmark %></td>
      <td><%= g.data_results %></td>
      <td><%= g.data_analysis %></td>
      <td><%= g.recommendations %></td>
      </tr>
    <% end %>
</table>
    <%else%>
     <p>No goals created</p>
    <%end%>

