<!DOCTYPE html>
<html>
<head>
  <title>Administrative</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
  <div id="wrapper">
    
 
<div class="container">
    <div class="masthead">
        <h3 id="company-name" class="text-muted">University LOGO</h3>
        <nav>
          <ul class="nav nav-justified">
            <li><a href="/">Home</a></li>
           <% if current_user %>
             <% if user_role == 'Director' %>
            <li><a href="#"><%= user_role %>(<%= current_user.college.try(:name) unless current_user.college_id.blank? %>,<%= current_user.department.try(:name) unless current_user.department_id.blank? %>)</a></li>
            <%else %>
            <li><a href="#"><%= user_role %></a></li>
            <%end%>
            <%end %>
            <%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/login_items' %>
          </ul>
        </nav>
    </div>
    <div id="content">
    
       <%= yield %> 
       </div><!-- #content -->     
    </div>
<footer class="footer">
  <h6>Copyrights @2015, ©The University of New Mexico, Albuquerque</h6>
</footer>
   
  </div><!-- #wrapper -->

</body>
</html>
